.main,
.main_theater {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 40px 42.5vw auto 100px;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.main_theater {
  grid-template-rows: 40px auto auto 100px;
}

.Header {
  grid-area: 1 / 1 / 2 / 3;
  height: auto;
}

.Header_fullScreen {
  display: none;
}

.video,
.video_theater {
  grid-area: 2 / 1 / 3 / 2;
  height: auto;
  margin: 5px;
}

.video_theater {
  grid-area: 2 / 1 / 3 / 3;
}

.listVideo,
.listVideo_theater {
  grid-area: 2 / 2 / 4 / 3;
  max-height: 100vh;
  overflow-y: scroll;
  margin: 5px;
  align-self: stretch;
  justify-self: stretch;
}

.listVideo_theater {
  grid-area: 3 / 2 / 4 / 3;
}

.listVideo_fullScreen {
  display: none;
}

.comments {
  grid-area: 3 / 1 / 4 / 2;
  align-self: stretch;
  justify-self: stretch;
}

.comments_fullScreen {
  display: none;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
}

.footer_fullScreen {
  display: none;
}


@media (max-width: 769px) {
  .main_theater {
    grid-template-columns: 55% 45%;
    grid-template-rows: 40px auto auto auto;
  }
}

@media (max-width: 480px) {
  .main_theater {
    grid-template-columns: 100%;
    grid-template-rows: 40px auto auto auto;
  }

  .Header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .video_theater {
    grid-area: 2 / 1 / 3 / 2;
  }

  .listVideo_theater {
    grid-area: 4 / 1 / 5 / 2;
    height: 100vh;
  }

  .comments {
    grid-area: 3 / 1 / 4 / 2;
  }

  .footer {
    grid-area: 5 / 1 / 6 / 2;
  }
}