.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  height: auto;
  padding: 5px 0px;
}

.container input {
  width: 98%;
  padding: 10px 0px;
  position: relative;
  margin-top: 5px;
  border: solid 1px black;
  margin: auto;
}

.container input::placeholder {
  font-weight: bold;
  opacity: 1;
  text-align: center;
}