.controls {
    height: 40px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.video:hover>.controls {
    opacity: 1;
    transition: all 0.05s ease-in-out;
}

.progress {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.icons {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.icons img {
    height: 30px;
    width: 30px;
    padding: 1px;
    filter: invert(1);
}

.velocity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
}

.velocity h5 {
    font-family: inherit;
    font-size: inherit;
    padding: 0px 3px;
}

.velocity select {
    appearance: none;
    background-color: inherit;
    border: none;
    padding: 0px 4px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    height: 30px;
    text-align: center;
}


.velocity select option {
    background-color: black;
    border: none;
    text-align: center;
}


.volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.volume input {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 30px;
}

.volume:hover input {
    opacity: 1;
}