.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
    width: 100%;
}

.video {
    width: 100%;
    height: auto;
}

.video::-webkit-media-controls {
    display: none !important;
}